@font-face {
  font-family: Outfit-light;
  src: url(assets/fonts/outfit/static/Outfit-Light.ttf);
}

@font-face {
  font-family: Outfit-regular;
  src: url(assets/fonts/outfit/static/Outfit-Regular.ttf);
}

@font-face {
  font-family: Outfit-black;
  src: url(assets/fonts/outfit/static/Outfit-Black.ttf);
}

@font-face {
  font-family: Youngserif-regular;
  src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
